.game-container {
  display: flex;  
}

.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.player-board {
  background-color: blue;
}

.empty-field {
  width: 40px;
  height: 40px;
}

.opponent-board {
  background-color: green;
}

.display-board {
  background-color: yellow;
}

.ship div {
  width: 40px;
  height: 40px;
}

.submarine {
  width: 80px;
  height: 40px;
  background-color: orange;
  margin: 10px;
}

.destroyer {
  width: 120px;
  height: 40px;
  background-color: green;
  margin: 10px;
}

.frigate {
  width: 160px;
  height: 40px;
  background-color: aqua;
  margin: 10px;
}

.patrol {
  width: 40px;
  height: 40px;
  background-color: red;
  margin: 10px;
}

.carrier {
  width: 200px;
  height: 40px;
  background-color: purple;
  margin: 10px;
}
